CompileFlags:
  Remove: [-fno-fat-lto-objects, -mno-thumb-interwork, -fstack-usage, -mlongcalls, -fstrict-volatile-bitfields, -fno-tree-switch-conversion]
  Add: [-Wno-unknown-attributes, --target=xtensa-esp32s3-elf]