CompileFlags:
  Remove: [-fno-fat-lto-objects, -mno-thumb-interwork, -fstack-usage, -mlongcalls, -fstrict-volatile-bitfields, -fno-tree-switch-conversion]
  Add: [-Wno-unknown-attributes, --target=xtensa-esp32s3-elf, 
        -I/home/eholl/.platformio/packages/framework-arduinoespressif32/cores/esp32,
        -I/home/eholl/.platformio/packages/framework-arduinoespressif32/libraries,
        -I/home/eholl/.platformio/packages/framework-arduinoespressif32/variants/adafruit_feather_esp32s3]